@import "normolize.css";

*{
    box-sizing: border-box;
    /* transition: all 0.3s ease-in-out; */
}

body{
    background-color: #f7f5f7;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.active{
    text-decoration: underline;
}